*{
    font-family: "arial", "verdana", "sans-serif";
}
body{
    background-color: whitesmoke;
    margin: 0px;
}
/*-------------------------------------------------------------------------------------------------------*/
a{
color:whitesmoke;   
}
/*-------------------------------------------------------------------------------------------------------*/
#menuSuperior{
    background-color: rgba(0, 191, 255, 0.7);
    width: 100%;
	height: 110px;
    position: fixed;
	top: 0px;
	font-size: 333%;
	margin: 0px;
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------------*/
#menuSuperior a{
    text-decoration: none;
    margin: 2%;
}
/*-------------------------------------------------------------------------------------------------------*/
#menuSuperior nav{
    padding: 16px 32px;
    text-align: center;
    z-index: 1;
}
/*-------------------------------------------------------------------------------------------------------*/
#containerPrincipal{
	margin-left: 15%;
	margin-right: 15%;
	background-color: whitesmoke;
    font-size: 300%;
    text-decoration: none;
    text-align: center;
}
/*-------------------------------------------------------------------------------------------------------*/
h1 {
    font-size: 120%;
}
input {
    background-color: whitesmoke;
    font-size: 100%;
    border-style: none; /*Remove a borda*/
    outline: none; /*Remove a borda axul padrão do navegador*/
    border-bottom-style: solid;
    width: relative;
    margin-bottom: 32px;
}